@page "{id:int}"
@model RazorApp.Pages.Books.Delete

<h3>Are you sure to delete this student?</h3>

<form method="post">
    <input asp-for="Id" type="hidden">
    <div class="d-flex gap-3">
        <button type="submit" class="btn btn-primary mb-3">Confirm</button>
        <a asp-page="/courses/index" class="btn btn-danger mb-3">Cancel</a>
    </div>
</form>