@page
@model RazorApp.Pages.Books.Index
@{
    ViewData["Title"] = "Books List";
}

<h2>Books List</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Published</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Books)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Genre</td>
                <td>@book.PublishedDate.ToString("yyyy-MM-dd")</td>
            </tr>
        }
    </tbody>
</table>
